@charset "UTF-8";

body { margin:25px;}    
			
			div.polaroid {
				width:300px;
				height:300px;
				background-color:white;
			   	box-shadow:0 4px 8px 0 rgba(0,0,0,0.3); 
				margin-bottom:15px;
			} 
			
			div.container {
				text-align:center;
				padding:5px 5px;
			}
			
			img {
				width:100%;
				height:230px;
			} 